In [67]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'C:\Users\USER\Downloads\weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [68]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [5]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [59]:
df.drop(labels=['WindGustDir'],axis=1,inplace=True)

In [60]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm',
       'RainToday', 'RainTomorrow'],
      dtype='object')

In [61]:
df.dtypes

Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [31]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   Evaporation    82670 non-null   float64
 5   Sunshine       75625 non-null   float64
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  float64
 14  Pressure3pm    130432 non-null  float64
 15  Cloud9am       89572 non-null   float64
 16  Cloud3pm       86102 non-null   float64
 17  Temp9am        143693 non-null  float64
 18  Temp3pm        141851 non-null  float64
 19  RainToday      142199 non-null  object
 20  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(5)
memory usage: 23.3+ MB

In [64]:
df.shape

(145460, 21)

In [6]:
df['Sunshine'].skew()

-0.4964800381328167

In [7]:
df['Sunshine'].fillna(df['Sunshine'].mean(),inplace=True)

In [8]:
df['Evaporation'].skew()

3.7612860111420643

In [9]:
df['Evaporation'].fillna(df['Evaporation'].median(),inplace=True)

In [10]:
df['MinTemp'].skew()

0.021188284011150468

In [11]:
df['MinTemp'].fillna(df['MinTemp'].mean(),inplace=True)

In [12]:
df['MaxTemp'].skew()

0.22083934813407782

In [13]:
df['MaxTemp'].fillna(df['MaxTemp'].mean(),inplace=True)

In [14]:
df['Rainfall'].skew()

9.83622525039533

In [15]:
df['Rainfall'].fillna(df['Rainfall'].median(),inplace=True)

In [16]:
df['WindGustDir'].fillna(df['WindGustDir'].mode()[0],inplace=True)

In [17]:
df.isnull().sum()

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir          0
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [18]:
df['WindGustSpeed'].skew()

0.8748788780303394

In [19]:
df['WindGustSpeed'].fillna(df['WindGustSpeed'].median(),inplace=True)

In [20]:
df['WindDir9am'].fillna(df['WindDir9am'].mode()[0],inplace=True)

In [21]:
df['WindDir3pm'].fillna(df['WindDir3pm'].mode()[0],inplace=True)

In [22]:
df['WindSpeed9am'].skew()

0.7776295122810298

In [23]:
df['WindSpeed9am'].fillna(df['WindSpeed9am'].median(),inplace=True)

In [24]:
df['WindSpeed3pm'].skew()

0.6282154194116664

In [25]:
df['WindSpeed3pm'].fillna(df['WindSpeed3pm'].median(),inplace=True)

In [26]:
df['Humidity9am'].skew()

-0.48396899459793047

In [27]:
df['Humidity9am'].fillna(df['Humidity9am'].mean(),inplace=True)

In [28]:
df['Humidity3pm'].skew()

0.03361436764166918

In [29]:
df['WindSpeed3pm'].fillna(df['WindSpeed3pm'].median(),inplace=True)

In [30]:
df['Humidity9am'].skew()

-0.48844539619283595

In [31]:
df['Humidity9am'].fillna(df['Humidity9am'].mean(),inplace=True)

In [32]:
df['Humidity3pm'].skew()

0.03361436764166918

In [33]:
df['Humidity3pm'].fillna(df['Humidity3pm'].mean(),inplace=True)

In [34]:
df['Pressure9am'].skew()

-0.09552363669451734

In [35]:
df['Pressure9am'].fillna(df['Pressure9am'].mean(),inplace=True)

In [36]:
df['Pressure3pm'].skew()

-0.04562140480119886

In [38]:
df['Pressure3pm'].fillna(df['Pressure3pm'].mean(),inplace=True)

In [39]:
df['Cloud9am'].skew()

-0.229081832248417

In [40]:
df['Cloud9am'].fillna(df['Cloud9am'].mean(),inplace=True)

In [41]:
df['Cloud3pm'].skew()

-0.22638434607149094

In [42]:
df['Cloud3pm'].fillna(df['Cloud3pm'].mean(),inplace=True)

In [43]:
df['Temp9am'].skew()

0.08853999659506906

In [44]:
df['Temp9am'].fillna(df['Temp9am'].mean(),inplace=True)

In [45]:
df['Temp3pm'].skew()

0.2379603639909972

In [46]:
df['Temp3pm'].fillna(df['Temp3pm'].mean(),inplace=True)

In [47]:
df['RainToday'].fillna(df['RainToday'].mode()[0],inplace=True)

In [48]:
df['RainTomorrow'].fillna(df['RainTomorrow'].mode()[0],inplace=True)

In [49]:
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [50]:
df_num=df.select_dtypes(include=['int64','float64'])
from sklearn.preprocessing import StandardScaler,MinMaxScaler
sc=StandardScaler()
df_num_sc=sc.fit_transform(df_num)
df_num_sc=pd.DataFrame(data=df_num_sc,columns=df_num.columns)
df_num_sc

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,0.189447,-4.533631e-02,-0.203581,-0.119472,-6.508050e-16,0.307739,0.673596,0.611499,0.112395,-1.442965,-1.478788,-1.223882,1.568037e+00,-8.487347e-16,-0.014053,0.017023
1,-0.753101,2.650431e-01,-0.275097,-0.119472,-6.508050e-16,0.307739,-1.131913,0.382054,-1.319609,-1.296417,-1.047782,-1.118839,-3.920285e-16,-8.487347e-16,0.032464,0.381985
2,0.110901,3.496920e-01,-0.275097,-0.119472,-6.508050e-16,0.460168,0.560752,0.840944,-1.637832,-1.052171,-1.493650,-0.983784,-3.920285e-16,-1.199232e+00,0.621685,0.221402
3,-0.470337,6.741796e-01,-0.275097,-0.119472,-6.508050e-16,-1.216548,-0.342003,-1.109339,-1.266572,-1.736061,-0.007422,-0.368534,-3.920285e-16,-8.487347e-16,0.172017,0.703151
4,0.833521,1.280830e+00,-0.155903,-0.119472,-6.508050e-16,0.079096,-0.793380,0.152609,0.695804,-0.905623,-1.018057,-1.388949,1.126652e+00,1.667539e+00,0.125499,1.170302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,-1.475720,2.520446e-02,-0.275097,-0.119472,-6.508050e-16,-0.683048,-0.116314,-0.879894,-0.948349,-1.345267,1.032937,0.756925,-3.920285e-16,-8.487347e-16,-1.068448,0.104614
145456,-1.350047,2.932594e-01,-0.275097,-0.119472,-6.508050e-16,-1.368977,-0.116314,-1.109339,-0.683163,-1.491815,0.869452,0.576852,-3.920285e-16,-8.487347e-16,-0.944401,0.411182
145457,-1.067283,5.189899e-01,-0.275097,-0.119472,-6.508050e-16,-0.225761,-0.567692,-1.109339,-0.842274,-1.345267,0.497895,0.231711,-3.920285e-16,-8.487347e-16,-0.696308,0.644757
145458,-0.690264,5.330980e-01,-0.275097,-0.119472,-6.508050e-16,-0.911691,-0.116314,-1.338784,-0.948349,-1.345267,0.260099,0.186693,-6.388874e-01,-1.199232e+00,-0.293158,0.630159
145459,0.425083,-5.012223e-16,-0.275097,-0.119472,-6.508050e-16,-0.073333,0.335063,-0.191559,-0.364940,-0.759075,0.378997,0.396778,1.568037e+00,1.667539e+00,-0.308663,-0.114363

In [51]:
df_cat=df.select_dtypes(include=['object'])
dummy=pd.get_dummies(data=df_cat['WindGustDir'],columns=['WindGustDir'],drop_first=False)
dummy

        E  ENE  ESE  N  NE  NNE  NNW  NW  S  SE  SSE  SSW  SW  W  WNW  WSW
0       0    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0
1       0    0    0  0   0    0    0   0  0   0    0    0   0  0    1    0
2       0    0    0  0   0    0    0   0  0   0    0    0   0  0    0    1
3       0    0    0  0   1    0    0   0  0   0    0    0   0  0    0    0
4       0    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0
...    ..  ...  ... ..  ..  ...  ...  .. ..  ..  ...  ...  .. ..  ...  ...
145455  1    0    0  0   0    0    0   0  0   0    0    0   0  0    0    0
145456  0    0    0  0   0    0    1   0  0   0    0    0   0  0    0    0
145457  0    0    0  1   0    0    0   0  0   0    0    0   0  0    0    0
145458  0    0    0  0   0    0    0   0  0   1    0    0   0  0    0    0
145459  0    0    0  0   0    0    0   0  0   0    0    0   0  1    0    0

[145460 rows x 16 columns]

In [52]:
df_c=pd.concat([df_num_sc,dummy],axis=1)
df_c

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,0.189447,-4.533631e-02,-0.203581,-0.119472,-6.508050e-16,0.307739,0.673596,0.611499,0.112395,-1.442965,...,0,0,0,0,0,0,0,1,0,0
1,-0.753101,2.650431e-01,-0.275097,-0.119472,-6.508050e-16,0.307739,-1.131913,0.382054,-1.319609,-1.296417,...,0,0,0,0,0,0,0,0,1,0
2,0.110901,3.496920e-01,-0.275097,-0.119472,-6.508050e-16,0.460168,0.560752,0.840944,-1.637832,-1.052171,...,0,0,0,0,0,0,0,0,0,1
3,-0.470337,6.741796e-01,-0.275097,-0.119472,-6.508050e-16,-1.216548,-0.342003,-1.109339,-1.266572,-1.736061,...,0,0,0,0,0,0,0,0,0,0
4,0.833521,1.280830e+00,-0.155903,-0.119472,-6.508050e-16,0.079096,-0.793380,0.152609,0.695804,-0.905623,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,-1.475720,2.520446e-02,-0.275097,-0.119472,-6.508050e-16,-0.683048,-0.116314,-0.879894,-0.948349,-1.345267,...,0,0,0,0,0,0,0,0,0,0
145456,-1.350047,2.932594e-01,-0.275097,-0.119472,-6.508050e-16,-1.368977,-0.116314,-1.109339,-0.683163,-1.491815,...,1,0,0,0,0,0,0,0,0,0
145457,-1.067283,5.189899e-01,-0.275097,-0.119472,-6.508050e-16,-0.225761,-0.567692,-1.109339,-0.842274,-1.345267,...,0,0,0,0,0,0,0,0,0,0
145458,-0.690264,5.330980e-01,-0.275097,-0.119472,-6.508050e-16,-0.911691,-0.116314,-1.338784,-0.948349,-1.345267,...,0,0,0,1,0,0,0,0,0,0
145459,0.425083,-5.012223e-16,-0.275097,-0.119472,-6.508050e-16,-0.073333,0.335063,-0.191559,-0.364940,-0.759075,...,0,0,0,0,0,0,0,1,0,0

In [53]:
X = df_c
y = df.iloc[:,-1]

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state =0)

In [55]:
X_train

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
22926,1.037739,0.067529,-0.251258,-0.056556,-1.140063e-01,0.917454,1.914884,1.070389,0.271506,1.048349,...,0,0,0,0,0,0,0,0,0,0
80735,-0.454627,0.109853,-0.251258,-1.126139,1.204928e+00,0.612597,-0.116314,0.611499,0.271506,0.169062,...,0,0,0,0,0,0,0,0,0,0
121764,-0.203281,-0.144093,-0.108226,-1.251972,7.286462e-01,-1.064119,-1.583291,-0.879894,0.854915,-0.221733,...,0,0,0,0,0,0,1,0,0,0
139821,1.116285,0.942234,-0.275097,1.264694,1.241565e+00,0.231525,1.350662,-0.191559,-1.319609,-0.710226,...,0,0,0,0,0,0,0,0,0,0
1867,0.550756,-0.793068,1.202899,-0.119472,-6.508050e-16,-1.521406,-0.342003,-0.650449,1.650473,2.367281,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41993,0.880648,2.099103,-0.275097,6.549694,-6.508050e-16,-0.073333,-0.793380,-0.650449,-0.417977,-1.052171,...,0,0,0,0,0,0,0,0,0,0
97639,0.048065,0.575422,-0.275097,-0.119472,8.751944e-01,-0.759262,-1.583291,-0.650449,-0.471014,-0.954472,...,0,0,0,0,0,0,0,1,0,0
95939,0.754975,0.928126,-0.275097,0.132194,-6.508050e-16,-1.368977,-1.131913,-0.650449,0.430618,0.120212,...,0,0,0,0,0,0,0,0,0,0
117952,-0.046190,-0.172310,0.177837,0.320944,3.254195e-02,-0.378190,0.560752,0.611499,-0.736200,-0.124034,...,0,0,0,0,0,1,0,0,0,0
43567,-0.030481,-0.920042,-0.179742,-0.119472,-6.508050e-16,0.765025,1.914884,0.611499,-0.524051,-0.026335,...,0,0,0,0,0,1,0,0,0,0

In [56]:
X_train.shape, X_test.shape

((116368, 32), (29092, 32))

In [57]:
y_train.shape, y_test.shape

((116368,), (29092,))

In [58]:
y_train

22926     Yes
80735      No
121764     No
139821     No
1867      Yes
         ...
41993      No
97639      No
95939      No
117952     No
43567      No
Name: RainTomorrow, Length: 116368, dtype: object

In [59]:
rfc = RandomForestClassifier(n_estimators=100,random_state=0)

In [60]:
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

In [61]:
y_pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [62]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test, y_pred)
print("The accuracy score of the model is",acc)

The accuracy score of the model is 0.8533961226454008

In [63]:
clf = RandomForestClassifier(n_estimators=100, random_state=0)

In [64]:
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [66]:
feature_scores = pd.Series(clf.feature_importances_, index=X_train.columns).sort_values(ascending=False)
feature_scores

Humidity3pm      0.162680
Rainfall         0.071021
Pressure3pm      0.068078
Pressure9am      0.062215
Humidity9am      0.061447
WindGustSpeed    0.059101
Sunshine         0.058462
Temp3pm          0.058127
MinTemp          0.055081
MaxTemp          0.053816
Temp9am          0.051942
Cloud3pm         0.042916
WindSpeed3pm     0.039158
WindSpeed9am     0.037112
Evaporation      0.029857
Cloud9am         0.027441
W                0.005695
N                0.004616
NW               0.004522
WNW              0.004218
NNW              0.004170
SSW              0.003912
S                0.003873
SW               0.003805
NNE              0.003797
NE               0.003716
WSW              0.003638
SSE              0.003425
SE               0.003365
E                0.003016
ENE              0.002945
ESE              0.002833
dtype: float64

In [69]:
from sklearn.metrics import roc_auc_score,roc_curve
y_pred_prob = clf.predict_proba(X_test)[:, 1]
roc_auc = roc_auc_score(y_test, y_pred_prob)
roc_auc

0.8769622361811733

In [70]:
acc=accuracy_score(y_test,y_pred)

In [71]:
acc

0.8533961226454008

In [72]:
from sklearn.metrics import precision_score,recall_score

In [73]:
recall_average = recall_score(y_test, y_pred, average="binary", pos_label="No")

In [74]:
recall_average

0.9567895802164921

In [75]:
pre = precision_score(y_test, y_pred, average="binary", pos_label="No")

In [76]:
pre

0.8688216725935989